@{
    ViewData["Title"] = "Home Page";
    IEnumerable<Orders> AllOrders = (IEnumerable<Orders>)ViewData["orders"];
    double subtotal = 0;
    int count = 1;
}
<link href="@Url.Content("~/wwwroot/lib/bootstrap/dist/css/bootstrap.css")" rel="stylesheet">
<script src="@Url.Content("~/wwwroot/lib/bootstrap/dist/js/bootstrap.js")"></script>

<div class="text-center">
    <h1 class="display-4">Purchase History Page</h1>
</div>

@foreach (var order in AllOrders)
{

    <div class="container-fluid">
        <div class="accordion" id="accordion2">
            <div class="accordion-group">
                <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse@(@count)">
                        <h3>Order Number:@(order.OrderId)</h3>
                        <h3>Status:Completed</h3>
                        <p>Date of Purchase: @order.DateofPurchase</p>
                    </a>
                </div>

                <div id="collapse@(@count)" class="accordion-body collapse" style="height: 0px; ">
                    <input type="hidden" @(count++)>
                    <div class="accordion-inner">
                        <table class="table table-hover" style="width: 97%;float: right;">
                            <thead>
                                <tr>
                                    <th style="width:45%">Product</th>
                                    <th style="width:5%">Qty</th>
                                    <th style="width:5%">Total</th>
                                    <th>Activation Code</th>
                                    <th>Review</th>
                                </tr>
                            </thead>
                            <tbody>

                                    @foreach (var product in order.OrderDetails)
                                    {
                                <tr>
                                    <td>
                                        <div style="float: left;height:100%;width:20%;display: table-cell;"><img src="@product.ProductList.ImgUrl" style="width:75%;height:75%" /></div>
                                        <div style="float: left;height:100%;width:80%;margin-bottom:0;"><p name="productId" value="@product.ProductId">@product.ProductList.ProductName at $@product.UnitPrice each</p></div>
                                    </td>
                                    <td><div>@product.Quantity</div></td>
                                    <td><div>@{subtotal = product.Quantity * product.ProductList.UnitPrice;}$@subtotal</div></td>

                                    @if (product.Quantity == 1)
                                    {
                                        @foreach (var activationcode in product.ActivationCodes)
                                        {
                                            <td><div>@activationcode.ActivationKey</div></td>
                                        }
                                    }
                                    else
                                    {
                                        <td>
                                            <div class="dropdown">
                                                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                                    Activation Codes
                                                    <span class="caret"></span>
                                                </button>
                                                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                                    @foreach (var activationcode in product.ActivationCodes)
                                                    {
                                                        <li><a href="#">@activationcode.ActivationKey</a></li>
                                                    }

                                                </ul>
                                            </div>
                                        </td>
                                    }
                                        <td><a class="btn btn-info" asp-controller="ProductReview" asp-action="index" asp-route-productId="@product.ProductList.ProductId" asp-route-orderId="@product.OrderId">Review</a></td>
                                </tr>
                                    }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
}