
@model IEnumerable<ProductList>

@{
    ViewData["Title"] = "Detail";
    int numbertobuy;
    ProductList product = (ProductList)ViewData["Product"];
    // string prodRating = (string)ViewData["ProductRating"];
    float prodRating = Convert.ToSingle(ViewData["prodRating"]);
    IEnumerable<ProductList> recommendedproducts = (IEnumerable<ProductList>)ViewData["products"];
    int numberofProds = (int)ViewData["numberofProds"];
    
    IEnumerable<ProductComment> allProductComments = (IEnumerable<ProductComment>)ViewData["AllProductReviews"];

}

@section scripts{
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <!-- Font Awesome Script for star rating-->
    <script src="https://use.fontawesome.com/c94815eee1.js"></script>
}
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<link rel="stylesheet" href="/css/ProductDetail.css">


<h1>Product Details</h1>

@*if customer  logged in*@
@if (ViewData["session"] != null)
{
    <form enctype="multipart/form-data" asp-controller="Cart" asp-action="addToCart" method="POST">
        <div class="container bootdey">
            <div class="col-md-12">
                <section class="panel">
                    <div class="panel-body">
                        <div class="col-md-5">
                            <div class="pro-img-details">
                                <input hidden name="productId" value="@product.ProductId" />
                                <img src="@product.ImgUrl" alt="">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <h3 class="pro-d-title">
                                <a href="#" class="">
                                    @product.ProductName
                                </a>
                            </h3>
                            <!-- Rating star 60%=3 star. 2.5 star= 50%-->
                            @prodRating &nbsp; <div class="stars-outer stars-large">
                                <div class="stars-inner" style="width:@(((prodRating) * 20) + "%")"> </div>
                            </div>
                            <span class="body-textStyle">&nbsp;(@numberofProds ratings)</span>

                            <!-- Price -->
                            <div class="product_meta">
                                <div class="m-bot15"> <strong>SGD</strong><span class="pro-price">@product.UnitPrice</span></div>
                                <p></p>
                                <p>
                                    @product.Description
                                </p>

                                <!--<span class="tagged_as"><strong>Tags:</strong> <a rel="tag" href="#">mens</a>, <a rel="tag" href="#">womens</a>.</span>-->
                            </div>


                                <div class="form-group">
                                    <label>Quantity</label>
                                    <input name="Quantity" id="qtyvalue" type="number" placeholder="1" min="1" value="1" class="form-control" style="width: 120px">
                                </div>

                                <p>
                                    <button class="btn btn-round btn-outline-primary" type="submit"><i class="fa fa-shopping-cart"></i> Add to Cart</button>
                                    @*<button class="btn btn-round btn-primary" name="buynow" value="yes" type="submit"> Buy Now &nbsp; <i class="fa fa-arrow-right"></i></button>
                                    <a type="submit" class="btn btn-round btn-primary" asp-controller="Cart" asp-action="AddtoCart" asp-route-productId="@product.ProductId" asp-route-buynow="true" asp-route-quantity="1"> Buy Now &nbsp; <i class="fa fa-arrow-right"></i></a>*@
                                </p>

                        </div>
                    </div>
                </section>
            </div>
        </div>
    </form>
}


else
{
    <div class="container bootdey">
        <div class="col-md-12">
            <section class="panel">
                <div class="panel-body">
                    <div class="col-md-5">
                        <div class="pro-img-details">
                            <img src=@product.ImgUrl alt="">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <h3 class="pro-d-title">
                            <a href="#" class="">
                                @product.ProductName
                            </a>
                        </h3>
                        <!-- Rating star-->
                        4.8 &nbsp; <div class="stars-outer stars-large">
                            <div class="stars-inner" style="width:95%"> </div>
                        </div>
                        <span class="body-textStyle">&nbsp;(3 ratings)</span>

                        <!-- Price -->
                        <div class="product_meta">
                            <div class="m-bot15"> <strong>SGD</strong><span class="pro-price"> @product.UnitPrice</span></div>
                            <p></p>
                            <p>
                                @product.Description
                            </p>

                            <!--<span class="tagged_as"><strong>Tags:</strong> <a rel="tag" href="#">mens</a>, <a rel="tag" href="#">womens</a>.</span>-->
                        </div>
                        <form action="Product/CartFromDetail" method="POST">
                            <div class="form-group">
                                <label>Quantity</label>
                                <input name="qty" type="number" placeholder="1" min="1" value="1" class="form-control" style="width: 120px">
                                <input type="hidden" name="prodId" value="@product.ProductId" />
                            </div>
                            <p>
                                <button type="submit" class="btn btn-round btn-outline-primary" asp-controller="ProductDetails" asp-action="CartFromDetail" asp-route-cmd="addToCart"><i class="fa fa-shopping-cart"></i> Add to Cart</button>
                                @*<button type="submit" class="btn btn-round btn-primary" asp-controller="ProductDetails" asp-action="CartFromDetail"> Buy Now &nbsp; <i class="fa fa-arrow-right"></i></button>*@
                            </p>
                        </form>
                    </div>
                </div>
            </section>
        </div>
    </div>

}
<!--Recommendations code-->
<span class="pro-d-head form-group">Recommended Products</span>
<div class="container">
    <div class="row">
        <div class="col-sm-4 d-flex align-items-md">

            @foreach (var m in recommendedproducts)

            {
                <div class="card-deck col-sm-12 mr-3">
                    <a href="/productdetails/index/@m.ProductId">
                        <img class="card-img-top" style="width:150px; height:150px" src=@m.ImgUrl>
                    </a>
                    <div class="card-body col-sm-12">
                        <h5 class="card-title">@m.ProductName</h5>

                    </div>
                </div>
            }

        </div>

    </div>
</div>
<!--End of Recommendations code-->
<!-- Comment section-->

<span class="pro-d-head form-group">Product Reviews</span>
@foreach (var productreview in allProductComments)
{
    <section class="panel">
        <div class="panel-body">
            <hr>
            <i class="fa fa-user-circle"></i>&nbsp; <a class="comment-user: 500;">@productreview.CustomerId</a>
            <br>
            <span class="comment-date">@productreview.DateTimeofComment </span>
            <br>
            <div class="stars-outer"><div class="stars-inner" style="width: @(productreview.Rating*20)%"></div></div>
            <p class="p">
                @productreview.Comment
            </p>
        </div>
    </section>

}