@model IEnumerable<ProductList>

@{
    ViewData["Title"] = "Home Page";
    IEnumerable<ProductList> products = (IEnumerable<ProductList>)ViewData["products"];
    var sessionId = ViewData["session"];
}

<form method="post" asp-controller="home" asp-action="index">
    <div class="input-group" style="margin-bottom:30px">
        <input id="search" type="search" class="form-control" value="@ViewData["searchedterm"]" name="searchterm" />
        <input type="submit" value="Search" class="btn btn-primary" />
    </div>
</form>

<div class="card-deck col-sm-12">
    @foreach (var m in products)
    {
            <div class="col-sm-4" enctype="multipart/form-data" action="/cart/addtocart">
                <div class="card" style="min-width:20rem;max-width:35.5%;margin-bottom:20px">
                    <div class="a">
                        <img src="@m.ImgUrl" class="card-img-top imageThumbnail img_container" alt="...">
                        <div class="badge_container">
                            <a asp-controller="ProductDetails" asp-action="index" asp-route-id="@m.ProductId"
                               class="btn btn-success img_description" id="btn1"> View» </a>
                            @if (sessionId != null)
                            {
                                <a type="submit" class="btn btn-primary img_descriptionwhenloggedin" id=@m.ProductId asp-controller="Cart" asp-action="AddtoCart" asp-route-productId="@m.ProductId" asp-route-quantity="1" asp-route-buynow="false">Add Cart</a>
                            }
                            else
                            {
                                <button type="submit" class="btn btn-primary img_description" id=@m.ProductId asp-controller="Cart" asp-action="AddtoCart" asp-route-productId="@m.ProductId" asp-route-quantity="1" asp-route-buynow="false">Add Cart</button>
                            }

                        </div>
                    </div>

                    <div class="card-body">
                        <div class="card-title">
                            <input hidden name="ProductId" asp-for="@m.ProductId" value="@m.ProductId" />
                            <input hidden name="Quantity" value="1" />
                            <label name="mobileName" asp-for="@m.ProductName" id="mobile" style="color:darkred">@m.ProductName</label>
                        </div>
                        <p class="card-text">@m.ShortDescription</p>
                    </div>
                    <div class="card-footer">
                        <h1 class="align-middle">$@m.UnitPrice</h1>
                    </div>
                </div>
            </div>
    }
</div>

<script>
    window.onload = function () {
        let elemlist = document.querySelectorAll(".card-img-top");
        for (let i = 0; i < elemlist.length; i++) {
            elemlist[i].addEventListener("mouseover", mouseOver.bind(this));
            elemlist[i].addEventListener("mouseleave", mouseExit.bind(this));
        }


        function mouseOver(event) {
            let elem = event.currentTarget;
            console.log(elem);
            elem.classList.add("blur");

        };

        function mouseExit(event) {
            let elem = event.currentTarget;
            elem.classList.remove("blur");

        };

@*        function dialogbox(event) {
            let btn = event.currentTarget;
            console.log(btn);
            window.alert("item added to cart");*@
        }
    } </script>



