@{
    ViewBag.Title = "ShoppingCart";
    double subtotal = 0;
    int count = 0; //this is from registered users
    double totalinproduct =0;

    List<CartDetails> shoppingcart = (List<CartDetails>)ViewData["currentShoppingCart"];


    Dictionary<ProductList, int> cartContent = (Dictionary<ProductList, int>)ViewData["cartContent"];
    var totalPrice = 0.0;
    if (cartContent != null)
    {
        foreach (KeyValuePair<ProductList, int> entry in cartContent)
        {
            totalPrice = (double)entry.Value * entry.Key.UnitPrice + (double)totalPrice;
        }
    }

}

@section scripts{
    <script src="/js/Cart3.js"></script>
}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<link rel="stylesheet" href="~/css/Cart.css">

<div id="dvContents">
    <table class="table table-hover" width="100%" height="100%">
        <thead>
            <tr>
                <th>ID</th>
                <th>Item</th>
                <th>Product</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Item Total</th>
            </tr>
        </thead>
        <tbody>
            @if (cartContent == null)
            {
                @*if the customer is logged in, he can see his cart*@
                if (shoppingcart != null)
                {
                    @foreach (var entry in shoppingcart)
                    {
                        <tr>
                            <td>
                                @{
                                    count++;}@count
                                </td>
                                <td>
                                    <img src=@entry.ProductList.ImgUrl style="overflow:hidden; position:relative;width:50px;height:50px" />
                                </td>
                                <td>@entry.ProductList.ProductName</td>
                                <td>$@entry.ProductList.UnitPrice</td>
                                <td>
                                    <a asp-controller="cart" asp-action="addtocart" asp-route-productId="@entry.ProductId" asp-route-quantity="1" asp-route-cartId="@entry.CartId" class="btn btn-success">+</a>
                                    @entry.Quantity
                                    <label id=@entry.ProductId class="quantityInput" type="number" min="1" tyle="width:30px" name=@("prodId"+entry.ProductId) value="@entry.Quantity" />
                                    <a asp-controller="cart" asp-action="removeitemfromcart" asp-route-productId="@entry.ProductId" asp-route-quantity="1" asp-route-cartId="@entry.CartId" class="btn btn-warning">-</a>
                                </td>
                                <td>@{subtotal = entry.Quantity * entry.ProductList.UnitPrice;}<span id=@("itemSubtotal"+ entry.ProductId)>@subtotal</span></td>
                                <hidden @(totalinproduct += subtotal)></hidden>
                                <td>

                                    <a id=@("cancel" + entry.ProductId) class="btn btn-danger" asp-controller="Cart" asp-action="Removeitemfromcart" asp-route-productId="@entry.ProductId" asp-route-quantity="@entry.Quantity" asp-route-cartId="@entry.CartId" )>Delete Item</a>

                                </td>
                            </tr>
                        }

                }
                else
                {
                    <tr>
                        <td style="font-size:20px">
                            There are no items in the cart
                        </td>
                    </tr>

                }
            }
            @*if the customer add item and login to his account*@
            else
            {

                @foreach (KeyValuePair<ProductList, int> entry in cartContent)
                {
                    <tr>
                        <td>
                            @{
                                count++;}@count
                            </td>
                            <td>
                                <img src=@entry.Key.ImgUrl style="overflow:hidden; position:relative;width:50px;height:50px" />
                            </td>
                            <td>@entry.Key.ProductName</td>
                            <td>$@entry.Key.UnitPrice</td>
                            <td>
                                <input id=@entry.Key.ProductId class="quantityInput" type="number" min="1" tyle="width:30px" name=@("prodId"+entry.Key.ProductId) value="@entry.Value" />
                            </td>
                            <td>@{subtotal = (double)entry.Value * entry.Key.UnitPrice;}<span id=@("itemSubtotal"+ entry.Key.ProductId)>@subtotal</span></td>
                            <td>

                                <button id=@("c" + entry.Key.ProductId) class="btn btn-danger" )>Delete Item</button>

                            </td>
                        </tr>
                    }}
        </tbody>

        <tfoot>

            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    Total
                </td>
                @if (shoppingcart != null)
                {
            <td>
                @if (totalPrice != 0)
                {
                    <a asp-controller="">
                        $<span id="totalPrice">@totalPrice</span>
                    </a>
                }
                else
                {
                    <a asp-controller="">
                        $<span id="totalPrice">@totalinproduct</span>
                    </a>

                }

            </td>

                }
                else
                {
                    <td>
                        <a asp-controller="">
                            $<span id="totalPrice">@totalPrice</span>
                        </a>
                    </td>

                }
                <td></td>
            </tr>
        </tfoot>
    </table>

    <div id="footer" width="100%" height="60px">
        <a asp-controller="Home" asp-action="index" class="btn btn-success">Continue Shopping</a>
        <a type="button" id="btn" class="btn btn-warning" asp-controller="Checkout" asp-action="index">Place Order</a>


    </div>

</div>